html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: white;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
    background-color: #eeeeee;
    padding-top: 52px;
}

a.header-logo {
    display: inline-block;
    width: 160px;
    height: 65px;
    vertical-align: bottom;
}

a.header-logo:hover {
    opacity: 0.8;
}

a.header-logo:active {
    opacity: 0.3;
}

.header-nav ul {
    display: inline-block;
    padding: 0;
}

.header-nav li {
    display: inline-block;
    list-style: none;
}

.header-nav li > a,
a.header-basket {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 10px;
}

header-nav li > a:hover,
a.header-basket:hover {
    color: #fb565a;
}

.header-nav li > a:active {
    color: #000000;
    opacity: 0.3;
}

ul.header-menu {
    width: 490px;
    margin-left: 200px;
}

ul.header-menu li {
    margin-right: 40px;
}

ul.header-menu li:last-child {
    margin-right: 0;
}

a.header-basket {
    display: inline-block;
    width: 115px;
    float: right;
    text-align: right;
    margin-top: 26px;
    position: relative;
    padding-bottom: 7px;
}

a.header-basket::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 5px;
    background: url('../images/css_sprites.png') -97px -238px;
}

a.active {
    border-bottom: 2px solid #fb565a;
}

.slider {
    background-color: #eeeeee;
    margin-bottom: 80px;
}

.slider input[type=radio] {
    display: none;
}

.slider-display {
    display: block;
    width: 1160px;
    height: 430px;
    position: relative;
}

.slider-slide  {
    width: 1160px;
    height: 430px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 74px;
    background-repeat: no-repeat;
    display: none;
}

.slides .slider-slide:nth-child(1) {
    background-image: url('../images/slide1.png');
    background-position: 430px 16px;
}

.slides .slider-slide:nth-child(2) {
    background-image: url('../images/slide2.png');
    background-position: 492px 0;
}

.slides .slider-slide:nth-child(3) {
    background-image: url('../images/slide3.png');
    background-position: 400px 20px;
}

.slider-controls {
    position: absolute;
    left: 534px;
    bottom: 92px;
    z-index: 80;
}

.slider-controls label {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
}

#slider-btn-1:checked ~ .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-controls label[for="slider-btn-2"],
#slider-btn-3:checked ~ .slider-controls label[for="slider-btn-3"] {
    box-shadow:
            0 0 0 5px #fff inset,
            0 0 0 7px #c1c1c1 inset;
}

#slider-btn-1:checked ~ .slides .slider-slide:nth-child(1),
#slider-btn-2:checked ~ .slides .slider-slide:nth-child(2),
#slider-btn-3:checked ~ .slides .slider-slide:nth-child(3) {
    display: block;
}

.slider b {
    display: inline-block;
    padding: 0;
    font-size: 55px;
    line-height: 55px;
    width: 560px;
    margin-bottom: 10px;
}

.slides .slider-slide:nth-child(3) b {
    width: 460px;
}

.slider p {
    padding: 0;
    width: 380px;
    line-height: 24px;
    margin-bottom: 40px;
}

.slider a {
    display: block;
    width: 240px;
    height: 50px;
    padding-top: 15px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #fb565a;
    border-radius: 3px;
}

.slider a:hover {
    background-color: #e74246;
}

.slider a:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.services {
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}

.service-block {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 98px;
}

.service-block:nth-child(3n) {
    margin-right: 0;
}

.services h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.services p {
    display: inline-block;
    padding-right: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}

a.order-button {
    display: block;
    padding: 15px;
    width: 160px;
    height: 50px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #fb565a;
    border-radius: 3px;
}

a.order-button:hover {
    background-color: #e74246;
}

a.order-button:active {
    background-color: #d7373b;
}

a.btn-green {
    background-color: #00ca74;
}

a.btn-green:hover {
    background-color: #00bc6c;
}

a.btn-green:active {
    background-color: #00aa62;
}

a.btn-yellow {
    background-color: #efc84a;
}

a.btn-yellow:hover {
    background-color: #eab534;
}

a.btn-yellow:active {
    background-color: #e5a722;
}

a.order-button:active,
a.btn-green:active,
a.btn-yellow:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.content {
    padding-top: 41px;
    padding-bottom: 0;
}

.content .container {
    padding-bottom: 55px;
    border-bottom: 2px solid #eeeeee;
}

.content .nerds-logo {
    float: right;
    width: 360px;
    height: 208px;
    background: url('../images/css_sprites.png') -10px -10px;
    background-repeat: no-repeat;
}

.content b {
    display: inline-block;
    width: 660px;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 45px;
    line-height: 45px;
}

.content p {
    display: inline-block;
    width: 660px;
}

.content-title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 12px;
}

.content-left,
.content-right {
    margin-top: 24px;
}

.content-left {
    width: 660px;
    float: left;
}

.content-left ul {
    display: block;
    margin-top: 10px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 0;
}

.content-left li {
    list-style: none;
    padding-bottom: 24px;
    position: relative;
}

.content-left li:last-child {
    padding-bottom: 0;
}

.content-left li:before {
    content: "";
    display: block;
    position: absolute;
    left: -35px;
    top: 12px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.content-right {
    width: 360px;
    float: right;
}

.content-right .content-title {
    width: 360px;
    text-align: center;
    margin-bottom: 40px;
}

.content-right ul {
    display: inline-block;
    width: 360px;
    padding: 0;
    margin-bottom: 0;
}

.content-right li {
    display: inline-block;
    list-style: none;
    width: 100px;
    margin-right: 16px;
}

.content-right li:last-child {
    width: 70px;
    margin-right: 0;
}

.percents {
    font-size: 46px;
    font-weight: bold;
    position: relative;
}

.percents::after {
    content: "%";
    width: 26px;
    height: 26px;
    font-size: 26px;
    line-height: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
}

li.description {
    line-height: 18px;
}

.partners {
    padding-top: 45px;
}

.partners .container {
    border-bottom: 2px solid #eeeeee;
}

.partners ul {
    padding: 0;
    font-size: 0;
    margin-bottom: 35px;
    height: 100px;
    line-height: 100px;
}

.partners li {
    display: inline-block;
    width: 260px;
    line-height: normal;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    margin-right: 40px;
    opacity: 0.2;
}

.partners li:last-child {
    margin-right: 0;
}

.partners li:hover {
    opacity: 1;
}

.partners li:active {
    opacity: 0.1;
}

.contacts {
    position: relative;
    margin-top: 80px;
    height: 415px;
    background-image: url("../images/google-map.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.contacts iframe {
    padding: 0;
    z-index: 5;
}

.page-address {
    display: block;
    position: absolute;
    left: auto;
    top: 55px;
    width: 319px;
    height: 308px;
    padding-top: 52px;
    padding-left: 50px;
    background-color: #ffffff;
    z-index: 10;
}

.page-address b {
    font-size: 18px;
}

.page-address p {
    width: 210px;
    padding-top: 7px;
    padding-bottom: 22px;
    font-size: 16px;
    line-height: 18px;
}

a.adress-button {
    display: block;
    padding: 14px;
    width: 220px;
    height: 50px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #fb565a;
    border-radius: 3px;
}

a.adress-button:hover {
    background-color: #e74246;
}

a.adress-button:active {
    background-color: #d7373b;
}

.footer {
    margin-top: 70px;
    margin-bottom: 70px;
}

.footer-social ul {
    display: inline-block;
    padding: 0;
    font-size: 0;
}

.footer-social li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.footer-social a {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
    position: relative;
}

.footer-social span {
    display: inline-block;
    background-image: url('../images/css_sprites.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-social span.vk {
    width: 26px;
    height: 15px;
    background-position: -51px -238px;
}

.footer-social span.fb {
    width: 12px;
    height: 22px;
    background-position: -10px -279px;
}

.footer-social span.insta {
    width: 21px;
    height: 21px;
    background-position: -10px -238px;
}

.footer-social a:hover {
    background-color: #e74246;
}

.footer-social a:active {
    background-color: #d7373b;
    box-shadow: 0 3px 0 0 rgba(0, 1, 1, 0.1) inset;
}

.footer-social a:active > span {
    opacity: 0.3;
}

.footer-promo {
    float: right;
    width: 560px;
    margin-right: 200px;
    margin-top: -80px;
}

b.footer-promo-title {
    font-size: 36px;
}

.footer-promo p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}

.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 960px;
    height: 590px;
    padding: 70px 100px 80px 100px;
    box-shadow: 0 20px 40px 0 rgba(0,1,1,0.75);
    z-index: 100;
}

.pop-up b {
    font-size: 45px;
    line-height: 45px;
}

.pop-up .window-close {
    display: block;
    width: 23px;
    height: 23px;
    font-size: 0;
    background-color: white;
    border: 0;
    opacity: 0.3;
    cursor: pointer;
    position: absolute;
    right: 90px;
    top: 80px;
}

.pop-up .window-close::before,
.pop-up .window-close::after {
    content: "";
    width: 25px;
    height: 5px;
    background-color: #fb565a;
    position: absolute;
    top: 10px;
    left: 2px;
}

.pop-up .window-close::before {
    transform: rotate(-45deg);
}

.pop-up .window-close::after {
    transform: rotate(45deg);
}

.pop-up .window-close:hover {
    opacity: 1;
}

.pop-up .window-close:active {
    opacity: 0.1;
}

.pop-up form {
    margin-top: 35px;
}

.pop-up label,
.pop-up input {
    font-size: 16px;
}

.pop-up label {
    font-weight: bold;
}

.pop-up input,
.pop-up textarea {
    border: 2px solid #d7dcde;
    padding: 10px;
    color: #444444;
    margin-top: 10px;
}

.pop-up input:hover,
.pop-up textarea:hover {
    border-color: #b4b9bb;
}

.pop-up input:focus,
.pop-up textarea:focus {
   border-color: #000000;
   color: #000000;
}

.pop-up input:invalid {
    border-color: #e74246;
    color: #e74246;
}

.pop-up input {
    width: 360px;
    height: 50px;
    margin-bottom: 30px;
}

label.right-form {
    float: right;
    margin-top: -24px;
}

.pop-up textarea {
    width: 760px;
    height: 120px;
    resize: none;
}

.pop-up input[type="text"] {
    margin-right: 40px;
}

.pop-up input[type="submit"] {
    width: 260px;
    height: 50px;
    padding: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
    margin-top: 50px;
}

.pop-up input[type="submit"]:hover {
    background-color: #e74246;
}

.pop-up input[type="submit"]:active {
    background-color: #d7373b;
}